@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
.titleWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.title {
    @include typo-header;
    color: $base-black;
    margin-bottom: 20px;
}

.description {
    @include typo-text-regular-1;
    margin: 0px 350px;
    color: $base-gray;
    text-align: center;
}

.searchWrapper {
    max-height: 84px;
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
}

.inputSearch {
    width: 100%;
    margin-right: 30px;
    box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
}

.singleDropdown {
    box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
}

.subtitleWrapper {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.subtitle {
    @include typo-sub-header;
}

.badge {
    color: #518581;
    padding: 4px 16px;
    background: #F9F9F9;
    border-radius: 20px;
    margin-left: 10px;
}

.productWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.showMoreButton {
    margin: 100px auto;
}



@media (max-width: 400px) {

    .titleWrapper {
        margin-top: 50px;
    }

    .title {
        font-size: 26px;
        margin-bottom: 0px;
    }

    .description { 
        font-size: 14px;
        margin: 0px 24px;
    }
    
    .singleDropdown {
        display: none;
    }

    .inputSearch {
        margin: 0px 24px;
        height: 54px;
    }

    .searchWrapper {
        max-height: 84px;
        margin-top: 32px;
        margin-bottom: 30px;
        display: flex;
    } 

    .subtitle {
        font-size: 18px;
        margin-left: 24px;
    }

    .badge {
        padding: 4px 10px;    
    }

    .subtitleWrapper {
        margin-bottom: 0px;
    }
}