@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
.wrapper {
    margin-top: 100px;
    display: flex;
}

.image {
    min-width: 600px;
    min-height: 600px;
    max-width: 600px;
    max-height: 600px;
    margin-right: 50px;
}

.title {
    @include typo-sub-header;
    margin-top: 32px;
    margin-bottom: 10px;
}

.category {
    @include typo-text-regular-1;
    color: $base-gray;
    margin-bottom: 30px;
}

.color {
    margin-bottom: 20px;
}

.description {
    @include typo-text-regular-1;
    color: $base-gray;
    margin-bottom: 30px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.price {
    @include typo-sub-header;
}

.buttonsWrapper {
    margin-top: 50px;
    display: flex;
}

.buyButton {
    width: 285px;
    margin-right: 20px;
}

.addToChartButton {
    width: 285px;
    border: 2px solid #F3F3F3;
    background: none;
}

.addToChartButton>div {
    color: $base-black;
}

.srat_image {
    display: none;
}




@media (max-width: 400px) {
    .wrapper {
        margin: 50px 30px;
        display: block;
    }

    .image {
        min-width: 326px;
        min-height: 326px;
        max-width: 326px;
        max-height: 326px;
        margin-right: 0px;
    }

    .title {
        margin-top: 30px;
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 30px;
    }
    
    .category {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .description {
        font-size: 14px;
        color: $base-gray;
        margin-bottom: 16px;
        -webkit-line-clamp: 3;
    }

    .srat_image {
        width: 20px;
        height: 20px;
        display: block;
        margin-left: 10px;
    }

    .rating {
        display: flex;
    }

    .price {
        font-size: 24px;
    } 

    .buttonsWrapper {
        margin-top: 30px;
        display: block;
    }

    .buyButton {
        width: 325px;
        margin-right: 0px;
        margin-bottom: 8px;
    }

    .addToChartButton {
        width: 325px;
    }
}